/* Set height = 100% to make the background image take up the whole screen when viewing on mobile */
/* Omitting this will cause the document to end in the middle of the screen,
since that's where the <body> tag ends
-> not desired */

/* Global/wide-range styling */
html {
    height: 100%;
}

body {
    background: url('https://source.unsplash.com/BCLyHnC8Prk') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Lato;
}
/* */


/* Icons on navigation bar, only display when view on mobile devices */
.navbar__icon--mobile {
    display: none;
}

@media screen and (max-width: 750px) {
    .navbar__icon--mobile {
        display: inline-block;
        padding-right: 1em;
    }
}
/* */


/* Header */
#header {
    padding-top: 25%;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

h1, h3 {
    color: #EFEFEF;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 35%;
    border-top: 1px solid #F8F8F8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
/* */

